@mixin brick_main_clr ($brick_prim_clr:$popel_main) {
    background-color: $brick_prim_clr;
}

@mixin brick_highlight_bk_clr ($brick_sec_clr:$popel_shine) {
    background-color: $brick_sec_clr;
}

@mixin brick_shadow_bk_clr ($brick_thrd_clr:$popel_dark) {
    background-color: $brick_thrd_clr;
}

@mixin brick_highlight_brdr_clr ($brick_sec_clr:$popel_shine) {
    border-bottom: 2vw solid $brick_sec_clr;
}

@mixin brick_shadow_brdr_clr ($brick_thrd_clr:$popel_dark) {
    border-left: 2vw solid $brick_thrd_clr;
}

@mixin brick_colorchange ($brick_main_bk, $brick_highlight_clr, $brick_shadow_clr) {
    .brick__out {
        .brick__frontside {
            @include brick_main_clr ($brick_prim_clr:$brick_main_bk);

            .brick__picture {
                @include brick_highlight_brdr_clr ($brick_sec_clr:$brick_highlight_clr);
                @include brick_shadow_brdr_clr ($brick_thrd_clr:$brick_shadow_clr);
            }

            .brick__topside {
                @include brick_highlight_bk_clr ($brick_sec_clr:$brick_highlight_clr);
            }
            .brick__rightside {
                @include brick_shadow_bk_clr($brick_thrd_clr:$brick_shadow_clr)
            }
        }
    }
}


.brick{
    max-width: 80rem;
    position: relative;
    margin: auto;
    padding: 0 6rem;
    
    .brick__out {
        // border: 2px solid orange;
        
        .headline__shadow__out {
            position:relative;
            left: 2rem;
            z-index: 9;
        }
        
        .brick__frontside {
            background-color: $blushing_main;
            position: relative;
            display: flex;
            padding: 1rem;
            min-height: 6vh;
            gap: 2rem;
            z-index: 3;
            
            
            .brick__content {
                // border: 2px solid lime;
                width: 75%;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                gap: 3rem;
                
                a {
                    p {
                        margin: 0;
                        z-index: 10;
                    }
                }
            }
            
            .brick__picture {
                width: 25%;
                aspect-ratio: 1;
                border-bottom: 2vw solid $blushing_shine;
                border-left: 2vw solid $blushing_dark;
                
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            
            .brick__topside {
                position: absolute;
                height: 6vw;
                width: calc(100% + 6vw);
                left: 0;
                top: -6vw;
                background-color: $blushing_shine;
                clip-path: polygon(6vw 0, 100% 0, 100% 100%, 0 100%);
                z-index: -5;
            }
            
            .brick__rightside {
                position: absolute;
                height: calc(100% + 6vw);
                width: 6vw;
                background-color: $blushing_dark;
                bottom: 0;
                right: -6vw;
                clip-path: polygon(0 6vw, 100% 0, 100% calc(100% - 6vw), 0 100%);
            }
            
            .brick__shadow {
                // outline: 5px solid orange;
                background: linear-gradient(135deg, $clr_shadow 10%, transparent 50%);
                height: 6vw;
                width: 48vw;
                max-width: 100vw;
                position: absolute;
                right: -48vw;
                bottom: 0;
                // opacity: .5;
                clip-path: polygon(6vw 0, 100% 0, 100% 0, 100% calc(100% - 6vw), calc(100% - 6vw) 100%, 0 100%, 0 100%, 0 6vw);
                // overflow: hidden;
            }
            
            @media screen and (max-width: $bp-ms) {
                .brick__content {
                    width: 50%;
                }
                .brick__picture {
                    width: 50%;
                }
            }
            
        }
    }
}

@media screen and (max-width: $bp-sm) {
    .brick {
        max-width: 95vw;
        padding: 2rem;
        
        .brick__out {
            .headline__shadow__out {
                // outline: 2px solid greenyellow;
                left: 0.4rem;
                
                top: 12px;
            }
            
            .brick__frontside {
                width: 100%;
                
                flex-direction: column-reverse;
                gap: 0rem;
                
                .brick__content {
                    gap: 0.4rem;
                    p {
                        font-size: medium;
                    }
                }
                
                .brick__content {
                    width: 100%;
                }
                
                .brick__picture {
                    width: 100%;
                }
                
                .brick__shadow {
                    display: none;
                }
            }
        }
    }
}

// Test area ======================================
.brick__mixin__test {
    @include brick_colorchange($teeth_main, $teeth_shine, $teeth_dark);
}

