@mixin card_color ($card_bk_color:$blushing_main, $card_fnt_color:$clr_black) {
    background-color: $card_bk_color;
    color: $card_fnt_color;
    
}

.card__info {
    max-width: 80rem;
    max-height: calc(fit-content - 100px);
    min-height: 200px;
    margin: auto;
    padding: 1.5rem;
    border-radius: $border-radius;
    box-shadow: 6px 6px 0 0 $clr_shadow;
    // border: 2px solid green;
    rotate: -1deg;
    position: relative;

    .card__info__title {
        margin: 0;
        position: absolute;
        text-align: start;
        top: -80px;
        left: 50px;
    }
    
    .card__content {
        display: flex;
        gap: 1.5rem;
        // margin-top: -105px;
        
        .card__info__text {
            width: 75%;

            p {
                font-weight: $font_bold;
            }
        }
        
        .card__info__picture {
            width: 25%;
            aspect-ratio: 1;

            img {
                rotate: 5deg;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: $border-radius;
                box-shadow: 6px 6px 0 0 $clr_shadow;
            }
        }
    
    }
    
    @media screen and (max-width:$bp-ms) {
        // border: 2px solid aqua;
        width: 90vw;
        rotate: -1deg;

        .card__info__title {
            top:-45px;
        }

        .card__content {

            .card__info__text {
                width: 50%;
            }

            .card__info__picture {
                width: 50%;
            }
        }
    }

    @media screen and (max-width: $bp-sm) {
        // border: 2px solid lime;
        max-width: 90vw;
        // rotate: 0deg;
        
        .card__info__title {
            // background-color: aqua;
            z-index: 1;
            top: calc(90vw - 3rem);
            left: 1.5rem;
            // border: 3px solid orange;

            // left:0;
            bottom: 4px;
        }

        .card__content {
            width: 100%;
            flex-direction: column-reverse;


            .card__info__text {
                width: 100%;
            }

            .card__info__picture {
                width: 100%;
                
                img {
                    position: relative;
                    z-index: 0;
                    
                }
            }
        }
    }



}

.card__info__yellow {
    @include card_color($teeth_main);
}