// Basis

$clr_black: rgb(20, 20, 20);
$clr_white: #fffffa;
$clr_white_drkr: #F6F6F2;


$clr_shadow: rgba(0, 0, 0, 0.2);


// primary colors
// blushing Pink
$blushing_main: #CE4C8A;
$blushing_shine: #E8559B;
$blushing_dark: #A43D6F;

// Piggy Pink
$piggy_main: #FECCE5;

// salty Blue
$salty_main: #479AE6;
$salty_shine: #70B7F8;
$salty_dark: #2F6699;

// Funky Popel
$popel_main: #71DE75;
$popel_shine: #7FFA84;
$popel_dark: #5BB35E;

// British Teeth
$teeth_main: #F6D339;
$teeth_shine: #FFDB3B;
$teeth_dark: #CAAE2F;

// Michael Orange
$michael_orange: #FC4A1A;
$michael_yellow: #F7B733;

$michael_orange_mono-drk: #7D564B;
