.content__contact {
    background-color: $salty_main;
    .content {
        .socials {
            width: 20%;
        }
    }
}

.content__contact__form {
    background-color: $salty_main;
    padding: $lg-padding-web 0;
}