$bp-ms: 1535px;
$bp-sm: 639px;
$border-radius: 12px;
$st-padding-web: 1.5rem;
$lg-padding-web: 3rem;
$st-max-width-web: 80rem;


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}