header {
    width: 100%;
    // border: 2px solid hotpink;
    position: fixed;
    height: fit-content;
    z-index: 99;
    nav {
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 2rem;
            top: 0;
            // border: 2px solid cornflowerblue;
            margin: 0;
            // height: fit-content;

            li {
                &:nth-of-type(even) {
                    rotate: 5deg;
                    margin-top: 15px;
                }

                &:nth-of-type(odd) {
                    rotate: -4deg;
                    margin-top: 10px;
                }

                &:nth-of-type(3) {
                    rotate: 0deg;
                    margin-top: -2px;
                }
            }
        }

        #menu__toggle {
            display: none;
        }

        @media screen and (max-width: 899px) {
            ul {
                width: fit-content;
                li {
                    &:nth-of-type(even) {
                        display: none;
                    }

                    &:nth-of-type(odd) {
                        display: none;
                    }

                    &:nth-of-type(3) {
                        display: inline-block;
                    }

                }
            }


            // toggle menu by Erik Terwan (https://codepen.io/erikterwan/pen/EVzeRP)
            #menu__toggle {
                display: inline-block;
                position: absolute;
                top: 50px;
                right: 50px;
                // left: 90vw;
                z-index: 1;
                // outline: 2px solid yellow;
                padding: 10px;
                background-color: $clr_white;
                border-radius: 12px;
                box-shadow: 6px 6px 0 0 $clr_shadow;

                // Burger-Menu-Look
                span {
                    display: block;
                    width: 33px;
                    height: 4px;
                    margin-bottom: 5px;
                    position: relative;
                    
                    background-color: $salty_main;
                    box-shadow: inset 2px 2px 0 0 $clr_shadow;
                    border-radius: 3px;
                    
                    z-index: 1;
                    
                    transform-origin: 4px 0px;
                    
                    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
                    
                    &:first-child {
                        transform-origin: 0% 0%;
                    }
                    
                    &:nth-last-child(2) {
                        transform-origin: 0% 100%;
                    }

                }

                input {
                    display: block;
                    width: 40px;
                    height: 32px;
                    position: absolute;
                    top: -7px;
                    left: -5px;
                    
                    cursor: pointer;
                    
                    opacity: 0; /* hide this */
                    z-index: 2; /* and place it over the hamburger */
                    
                    -webkit-touch-callout: none;
        
                    &:checked ~ span {
                        opacity: 1;
                        transform: rotate(45deg) translate(-2px, -1px);
                        background: $clr_white;
                    }

                    // Mittleren Burger-Menu-strich verstecken
                    &:checked ~ span:nth-last-child(3) {
                        opacity: 0;
                        transform: rotate(0deg) scale(0.2, 0.2);
                    }

                    // in die andere Richtung drehen lassen
                    &:checked ~ span:nth-last-child(2) {
                        transform: rotate(-45deg) translate(0, -1px);
                    }

                    &:checked ~ ul {
                        transform: none;
                    }

                    &:checked ~ .hidden__menu {
                        transform: translateX(-200px);
                    }
                }

                .hidden__menu {
                    display: list-item;
                    position: fixed;
                    width: 100vw;
                    // margin: -100px -90vw 0 -50px;
                    margin: auto;
                    padding: 50px;
                    padding-top: 135px;
                    height: 100vh;
                    
                    background: $salty_main;
                    list-style-type: none;
                    -webkit-font-smoothing: antialiased;
                    /* to stop flickering of text in safari */
                    
                    transform-origin: 0% 0%;
                    // transform: translate(-300%, 0%);
                    transform: translateX(100%);
                    
                    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

                    li {
                        display: list-item;
                        margin: auto;
                        margin-bottom: 15px;
                    }
                }
            } 
        }
    }
}