.headline__shadow__out {
    // border: 2px solid orange;
    width: fit-content;
    height: fit-content;
    margin: auto;
    z-index: 9;
    position: absolute;

    :first-child {
        margin: 0;
    }

    
    .headline__shadow__element {
        position: relative;
        height: 10px;
        width: calc(100% + 8vw);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 100%);
        bottom: 2.5vh;
        left: -4vw;
        z-index: 8;
    }
}