.content {
    max-width: 80rem;
    padding: 1.5rem;
    margin: auto;

    .button__line {
        display: flex;
        justify-content: center;
        a {
            margin: auto;
        }
    }
}

.introduction {
    
    .card__intro__blue {
        margin: 6vw 0;
        @include card_color ($salty_main, $clr_white);
    
            h3 {
                color: $clr_black;
            }
    
    }
}

.skills__short {

    .talents__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin-bottom: 2rem;
        
        .skill__group {
            
            &:nth-of-type(even) {
                rotate: 1.5deg;
                @include color_skill_group ($salty_main, $clr_white);
            }

            &:nth-of-type(odd) {
                rotate: -1.7deg;
                @include color_skill_group($popel_main, $clr_white);
            }
        }

        @media screen and (max-width:$bp_ms) {
            grid-template-columns: 1fr;
            justify-items: center;
            
        }

    }
}

.brick__footer__index {
    background: linear-gradient(to bottom, rgba(127,127,213,1) 0%, $clr_white 100%);
    
    .brick__footer__transition {
        .brick__blue {
            @include brick_colorchange($salty_main, $salty_shine, $salty_dark);
        }
        
    }
    
}
