@mixin color_label ($clr_bg:$salty_main, $clr_txt:$clr_white) {
    background-color: $clr_bg;

    p {
        color: $clr_txt;
    }
}

.label__box {
    display: flex;
    justify-content: start;
    gap: 5px;

    .label {
        &:nth-of-type(odd) {
            rotate: 2deg;
        }

        &:nth-of-type(even) {
            rotate: -3deg
        }
    }
}

.label {
    box-shadow: 4px 4px 0 0 $clr_shadow;
    width: fit-content;
    padding: 6px 8px;
    // background-color: red;
    border-radius: calc($border-radius - 4px);
    border: 2.4px solid white;

    p {
        margin: 0;
    }
}


.label__blue {
    @include color_label($salty_main, $clr_white)
}

.label__green {
    @include color_label($popel_main, $clr_black)
}

.label__yellow {
    @include color_label($teeth_main, $clr_black)
}

.label__pink {
    @include color_label($blushing_main, $clr_white)
}