@mixin var__progress ($pro_width:10%, $pro_bkg:$blushing_main, $pro_ani_name:progress_Animation) {
    width: $pro_width;
    background-color: $pro_bkg;
    animation-name: $pro_ani_name;
    animation-duration: 6s;
}

@mixin var__progress_ani ($pro_ani_name:progress_Animation, $to:10%, $start_clr:$blushing_shine, $end_clr:$blushing_main) {
    @keyframes #{$pro_ani_name} {
        0%   { width: 5%; background-color: $start_clr;}
        100% { width: $to; background-color: $end_clr; } /* Ziel */
    }
}

@mixin choose_progress ($progress_id, $progress, $main_clr, $drk_clr) {
    .progress-moved .progress__bar {
        @include var__progress ($pro_width:$progress, $pro_bkg:$main_clr, $pro_ani_name:$progress_id);
    }
    
    @include var__progress_ani ($pro_ani_name:$progress_id, $to:$progress, $end_clr:$main_clr, $start_clr:$drk_clr);
}

.container__progress {
    margin: 50px auto;
    width: 100%;
    text-align: start;
    // outline: 2px solid orange;
    background-color: $clr_white;
    padding: 10px 16px;
    border-radius: 12px;
    box-shadow: 6px 6px 0 0 $clr_shadow;
    
    .progress__field {
        // outline: 2px solid orange;
        padding: 6px;
        border-radius: 30px;
        background: rgba(0, 0, 0, 0.075);  
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    
        .progress__bar {
            // outline: 2px solid orange;
            height: 18px;
            border-radius: 30px;
            background-image: 
            linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
            transition: 0.4s ease-in;  
            transition-property: width, background-color;    
        }
    }

    .progress-moved .progress__bar {
        @include var__progress;
    }
    
    @include var__progress_ani;
    
    
    p {
        &:last-of-type  {
            text-align: end;
            margin-top: 10px;
        }
    }
    
    @media screen and (max-width:$bp-sm) {
        width: 80vw;
    }
}


// Beispiele
.bsp__skill__2 {
    .progress-moved .progress__bar {
        @include var__progress(80%, $popel_main, skill_2)
    }
    
    @include var__progress_ani(skill_2, 80%, $popel_dark, $popel_main)
    
}

.bsp__skill__3 {
    @include choose_progress(skill__3, 89%, $teeth_main, $teeth_dark)
}