@mixin color_skill_group ($skill-bk, $skill-clr) {
    background-color: $skill-bk;
    color: $skill-clr;

    > p {
        color:$skill-clr;
    }
}

.skill__group {
    width: 100%;
    height: fit-content;
    border-radius: $border-radius;
    box-shadow: 6px 6px 0 0 $clr_shadow;
    padding: 1.5rem;

    h3 {
        margin: 0;
    }

    p {
        margin-left: 15px;
    }

    @media screen and (max-width:$bp_ms) {
        width: 80vw;
    }
}