vti_encoding:SR|utf8-nl
vti_author:SR|LAPTOP-MGHUEI7G\\Michael
vti_modifiedby:SR|LAPTOP-MGHUEI7G\\Michael
vti_timelastmodified:TR|02 Apr 2017 18:03:53 -0000
vti_timecreated:TR|10 Mar 2017 22:17:59 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|bremerhaven.html pais.html main.dwt contactos.html org.dwt braunschweig.html infos.html mais.html main.html index.html bremen.html
vti_nexttolasttimemodified:TW|02 Apr 2017 18:03:03 -0000
vti_cacheddtm:TX|02 Apr 2017 18:03:53 -0000
vti_filesize:IR|6431
vti_cachedlinkinfo:VX|S|searchicon.png
vti_cachedsvcrellinks:VX|NSUS|css/searchicon.png
